.variant_item {
  margin: 10px 0;
  padding: 8px;
  border-radius: 10px;
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_title {
  font-weight: 500;
}
.right {
  background: #c0f6c7;

}
.false {
  background: #f6c0c0;

}
.item_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}