.form {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
.input {
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.items {
  margin-top: 15px;
  display: flex;
  flex-direction: column
}
.variants_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort_item {
  margin: 10px 0;
  padding: 8px;
  border-radius: 10px;
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_title {
  font-weight: 500;
}

.item_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}