.createQuestionPage {
  padding: 25px 20px;
}
.title {
  font-weight: 700;
  line-height: 1;
  color: #32363d;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 50px;
}